@media screen and (max-width: 700px) {
    .sec-1{
        max-width: 450px;
        max-height: 100%;
    }
    body{
        max-height: fit-content;
    
    }
}


body{
    display: grid;
    justify-content: center;
    background-color: black;
}
.img{
    border-radius: 50%;
    margin-bottom: 9%;
    border: 2px solid red;

}
.sec-1{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgb(250, 8, 8), 0 6px 20px 0 rgb(224, 8, 8);
    margin-top: 20px;
    display: inline-block;
    width: 500px;
    height: 900px;
    text-align: center;
    
}
.inner-sec{
    display: flex;
}
.inner-sec-1{
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 9px;
    box-shadow: 0 4px 8px 0 rgb(250, 8, 8), 0 9px 20px 0 rgb(20, 20, 20);
    margin-top: 2px;
    width: 80px;
    height: 40px;
    margin-bottom: 20%;
    margin-left: 13%;
}
.inner-sec-2{
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 9px;
    box-shadow: 0 4px 8px 0 rgb(250, 8, 8), 0 9px 20px 0 rgb(20, 20, 20);
    width: 80px;
    height: 40px;
    margin-bottom: 20%;
    margin-left: 10%;
}
.inner-sec-3{
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    background-color: white;
    padding-top: 9px;
    box-shadow: 0 4px 8px 0 rgb(250, 8, 8), 0 9px 20px 0 rgb(20, 20, 20);
    width: 80px;
    height: 40px;
    margin-bottom: 20%;
    margin-left: 10%;
}
input[type=text]{
    width: 80%; 
    padding: 12px;  
    border: 1px solid red; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    
    resize: vertical; 
    
}
input[type=radio]{
    margin-top: 30px;
    margin-bottom: 40px;
}
input[type=checkbox]{
    margin-bottom: 30px;
}
input[type=password]{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%; 
    padding: 12px;  
    border: 1px solid red; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-left: 10%;
    margin-bottom: 16px;
    resize: vertical; 
}
input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    
    margin-bottom: 20px;
    border: none;
    justify-content: left;
    align-items: flex-start;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: rgb(175, 17, 17);
  }
footer{
    color: white;
    text-align: center;
    margin-top: 100px;
}   
